*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin:0 auto;

}
.section-heading h2{
    font-size:35px;
    font-weight: bold;
    margin-bottom:30px;
}
.section-heading p{
    font-size:18px;
    color:#757575;
    margin-bottom: 30px;
    line-height: 30px;
}

.btn{
    background-color: #FD6E0A;
    color:white;
    cursor: pointer;
    padding:18px 35px; /* TBLR */
    border-radius:5px;
    border:none;
    font-size:20px;
    font-weight:bold;
}
.logo h2{
   font-size: 40px;
   font-weight: 900;
}
.color-orange{
    color:#FD6E0A;
}
/*main style */

header{
   background: url('../images/developer.png'),url(../images/header_bg.png),#FFF8F3;
    background-position:top left , bottom right;
   background-repeat: no-repeat;
    background-color: #FFF8F3;
    padding-top: 50px;
    
}
nav{
    
    display:flex;
    justify-content: space-between;
    width:71%;
    max-width:1140px;
    
   
    margin:0px auto;
    
}

nav .menu {
  display: flex;
 list-style-type: none;
  gap:51px;
  align-items: center;
  
}
nav .menu a{
    font-size: 20px;
    color:#474747;
    text-decoration: none;
}
#banner{
    display:flex;
    margin:47px 38px 0 230px;
    justify-content: space-between;
    align-items: center; 
}
    
#banner .banner-content{
    max-width:585px;
}

#banner .banner-content h3{
    font-size: 45px;
    font-weight:600;
    color:#474747;
    margin-bottom:5px ;

    } 

#banner .banner-content h2{
    font-size: 80px;
    font-weight: bold;
    color:#181818;
   margin-bottom:20px ;
    

}
#banner.banner-content p{
  font-size:18px;
  color:#757575;
  line-height: 35px;
  margin-bottom:5px;
}

#banner .banner-content hero-btn{
display:flex;
justify-content: space-between;
align-items: center;


}
#banner .banner-image img {
      vertical-align:middle;
}

#about{
    padding-top:131px;
    margin:0 auto;
   
}
#about .about-container{
    width:71%;
    max-width:1140px;
    margin:0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding:131px 156px;
}
#about .about-container .about-info{
    display:flex;
   
    justify-content: space-around;
   margin:0 auto;
    max-width: 782px;
    height:60px;
    

}
.about-info .info-card p{
   font-size: 20px;
   color: #757575;
   line-height:30px;
  
}
.about-info .info-card h6{
    font-size: 20px;
    font-weight: bold;
}

#skills{
    
 padding-top:130px;
 margin: 0 auto;
 max-width: 1140px;
 width:71%;

}

#skills .skills-container{
  max-width:1140px;
  width:71%;
    margin:0 auto;
}

#skills .skills-container .skill-box{
    display:flex;
    gap:24px;
    
}
#skills .skills-container .skill-box .skill-card{
    padding:30px;
    max-width:267px;
    box-shadow: 0 6px 50px 0 #00000028;
}

#skills .skills-container .skill-box .skill-card h3{
    font-size: 20px;
    font-weight: bold;
    color:#181818;
    margin-bottom: 20px;
}



#skills .skills-container .skill-box .skill-card p{   
     font-size: 16px;
    color:#757575;
       line-height: 28px;
     
}
#skills .skills-container .skill-box .skill-card img{   
     width:44px;
     margin-bottom: 30px;


}