*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn{
    background-color: #FD6E0A;
    color:white;
    cursor: pointer;
    padding:18px 35px; /* TBLR */
    border-radius:5px;
    border:none;
    font-size:20px;
    font-weight:bold;
}
.logo h2{
   font-size: 40px;
   font-weight: 900;
}
.color-orange{
    color:#FD6E0A;
}
/*main style */

header{
   background: url('../images/developer.png'),url(../images/header_bg.png),#FFF8F3;
    background-position:top left , bottom right;
   background-repeat: no-repeat;
    background-color: #FFF8F3;
    padding-top: 50px;
    
}
nav{
    
    display:flex;
    justify-content: space-between;
    width:71%;
    max-width:1140px;
    
   
    margin:0px auto;
    
}

nav .menu {
  display: flex;
 list-style-type: none;
  gap:51px;
  align-items: center;
  
}
nav .menu a{
    font-size: 20px;
    color:#474747;
    text-decoration: none;
}
#banner{
    display:flex;
    margin:47px 38px 0 230px;
    justify-content: space-between;
    align-items: center; 
}
    
#banner .banner-content{
    max-width:585px;
}

#banner .banner-content h3{
    font-size: 45px;
    font-weight:600;
    color:#474747;
    margin-bottom:5px ;

    } 

#banner .banner-content h2{
    font-size: 80px;
    font-weight: bold;
    color:#181818;
   margin-bottom:20px ;
    

}
#banner.banner-content p{
  font-size:18px;
  color:#757575;
  line-height: 35px;
  margin-bottom:5px;
}

#banner .banner-content hero-btn{
display:flex;
justify-content: space-between;
align-items: center;

}
#banner .banner-image img {
      vertical-align:middle;
}